

#wrapper {
	margin:0 auto;
	width:100%;
	min-width:940px;

	color: black;
}
#wrapper::after{
	content: '\200B';
	clear:both;
	display:block;
	height:0;
}







#icon {
	float:left;
	margin:1px 0 0 0;
	padding:0;
	width:198.15px;
	height: 60px;
}


header::after{
	content:'\200B';
	clear:both;
	display: block;
	height:0;
}



#link-list {
	display:inline-block;
	padding:0;
	margin-left: 25px;
	margin-right: 0;
	margin-top:20px;
	float:left;
	width:835px;
}

.url {
	color:rgb(0,82,204);
	display:inline;
	padding:0;
	margin:0 15px;
	float:left;
	font-family: Charlie Text,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
	font-size:18px
}



#button {
	padding:4px 10px;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	font-size:16px;
	font-weight: 549;
	color:rgb(0,82,204);
	float:right;
	margin:17px 10px 10px 10px;
	display:inline-block;
	text-decoration: none;
}

#right {
	color:rgb(0,82,204);
	display:inline;
	padding:0;
	margin:0 15px 15px 15px;
	float:right;
}

header {
	height:63px;
	margin:0 152px;
}

#header2 {
	background-color: rgb(222,235,255);
	padding:3px 0;
	margin:0;
	text-align: center;
}
#header2::after{
	content:'\200B';
	clear:both;
	display: block;
	height:0;
}

.import {
	color:rgb(0,82,204);
	display:inline;
	padding:0;
	margin:0;
	text-decoration: none;
}

#close {
	float:right;
	display:inline-block;
	width:16px;
	height:16px;
	margin-right: 25px;
	padding:0;
	color:grey;
	font-weight: bold;
}

#container {
	margin:0;
	padding:16px 0;
	background-color: rgb(244,245,247);
}





#text {
	
	text-align: center;
}

#text1 {
	padding:0;
	margin:16px 0;
	color:rgb(37,56,88);
	font-size:37px;
	font-weight:600;
}

#text2 {
	margin:0 0 24px 0;
	padding:0;
	color:rgb(66,82,110);
	font-size:18px;
	font-weight:400;
}

#button2 {
	margin:0 0 24px 0;
	padding:10px 17px;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	font-size:16px;
	font-weight: 500;
	color:white;
	background-color:rgb(0,82,204);
	display:inline-block;
	text-align: center;
	text-decoration: none;
}

#text3 {
	margin:0 0 24px 0;
	padding:0;
	color:rgb(66,82,110);
	font-size:15px;
	text-align: center
}

#picture {
	display:block;
}

#icon-text {
	display: inline-block;
	width:158px;
	margin:0 0 90px 0;
	padding:0;
	float:right;
}


#icon-picture {
	display: inline-block;
	margin:15px 0 22px 0;
	padding:0;
	width:36px;
	height:36px;
	clear:both;
}

#icon-text1 {
	display: block;
	padding:0 0 0 0;
	margin:0 0 0 3px;
	font-size: 1px;
	font-weight: bold;
}

#icon-text2 {
	display:block;
	padding:0 0 0 0;
	margin:0 0 0 0;
	font-size: 29px;
	font-weight: 600px;
}
